@model Productivity_Tool.Models.SpendItemViewModel

@{
    ViewData["Title"] = "Add Spend Item";
}

<h1>Add Spend Items</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AddSpendItem" asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpendItem.Description" class="control-label"></label>
                <input asp-for="SpendItem.Description" class="form-control" />
                <span asp-validation-for="SpendItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpendItem.AmountSpent" class="control-label"></label>
                <input asp-for="SpendItem.AmountSpent" class="form-control" />
                <span asp-validation-for="SpendItem.AmountSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="SpendItem.Category" class="control-label"></label>
                    <select asp-for="SpendItem.Category" class="form-control" asp-items="Model.Categories"></select>
                </div>
                <span asp-validation-for="SpendItem.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpendItem.Date" class="control-label"></label>
                <input asp-for="SpendItem.Date" class="form-control" />
                <span asp-validation-for="SpendItem.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
